In [1]:
import geopandas as gpd
import pandas as pd
import numpy as np

# Regional merging

The purpose of this spreadsheet is to merge the shapefiles created by: 
to make sure that all the regions are in a single dataframe/shapefile. This will including the cleaning of some of the regional names such that they match the results in the OECD REGPAT database.

The first thing to do is to read in the files.

In [2]:
#These are the different shapefiles that have been restricted down to the relevant areas from 
#the merging_location.R file
centroids = gpd.read_file("shapefiles/centroids_test.shp")

centroids2 = gpd.read_file("shapefiles/centroids2.shp")

Non_OECD = gpd.read_file("shapefiles/Non_OECD_cent.shp")

HK = gpd.read_file("shapefiles/HK_centroids.shp")

Monaco = gpd.read_file("shapefiles/MC_centroids.shp")

IOM = gpd.read_file("shapefiles/IOM_centroids.shp")

With some files, the names and regions have to be cleaned to make sure that they match the OECD REGPAT specification and that they can be merged into a single dataframe.

In [3]:
#for the HK dataframe, the column CNTR_CODE has to be renamed to CNTR_CO to match other
HK.rename(columns = {"CNTR_CODE": "CNTR_CO"}, inplace = True)

In [4]:
#The Non_OECD dataframe is the one that has issues in terms of regional names so 
#the output can be viewed, where they can be rectified
Non_OECD

      regn_cd CNTR_CO                    geometry
0     ZAF.1_1      ZA  POINT (26.44655 -32.15365)
1     ZAF.2_1      ZA  POINT (26.86726 -28.61440)
2     ZAF.3_1      ZA  POINT (28.12578 -26.10615)
3     ZAF.4_1      ZA  POINT (30.72671 -28.72806)
4     ZAF.5_1      ZA  POINT (29.28976 -23.78534)
5     ZAF.6_1      ZA  POINT (30.29896 -25.87362)
6     ZAF.7_1      ZA  POINT (25.51965 -26.26814)
7     ZAF.8_1      ZA  POINT (21.40248 -29.45341)
8     ZAF.9_1      ZA  POINT (20.61534 -33.01441)
9     RUS.1_1      RU   POINT (39.98716 44.58125)
10    RUS.2_1      RU   POINT (82.59977 52.60918)
11    RUS.3_1      RU  POINT (127.71164 53.41848)
12    RUS.4_1      RU   POINT (48.43770 67.86568)
13    RUS.5_1      RU   POINT (47.33741 47.11664)
14    RUS.6_1      RU   POINT (56.52830 54.28201)
15    RUS.7_1      RU   POINT (37.54531 50.67102)
16    RUS.8_1      RU   POINT (33.40628 52.91030)
17    RUS.9_1      RU  POINT (109.50649 53.56601)
18   RUS.10_1      RU   POINT (45.79918 43.26872)
19   RUS.11_1      RU   POINT (60.41318 54.47514)
20   RUS.12_1      RU  POINT (114.87303 66.48628)
21   RUS.13_1      RU   POINT (47.10248 55.50742)
22   RUS.14_1      RU   POINT (30.18247 59.90218)
23   RUS.15_1      RU   POINT (46.87387 43.03557)
24   RUS.16_1      RU   POINT (87.01470 50.73592)
25   RUS.17_1      RU   POINT (44.95880 43.17013)
26   RUS.18_1      RU  POINT (106.29087 57.08428)
27   RUS.19_1      RU   POINT (41.72664 56.99922)
28   RUS.20_1      RU   POINT (43.52665 43.43548)
29   RUS.21_1      RU   POINT (21.45514 54.70630)
..        ...     ...                         ...
156   IND.7_1      IN   POINT (82.03537 21.26470)
157   IND.8_1      IN   POINT (73.08090 20.19474)
158   IND.9_1      IN   POINT (72.27918 20.50551)
159  IND.10_1      IN   POINT (74.05740 15.35968)
160  IND.11_1      IN   POINT (71.58843 22.69032)
161  IND.12_1      IN   POINT (76.33282 29.20004)
162  IND.13_1      IN   POINT (77.23308 31.92721)
163  IND.14_1      IN   POINT (76.61264 33.75943)
164  IND.15_1      IN   POINT (85.55763 23.65454)
165  IND.16_1      IN   POINT (76.16644 14.70518)
166  IND.17_1      IN   POINT (76.40575 10.45090)
167  IND.18_1      IN   POINT (72.93961 10.45127)
168  IND.19_1      IN   POINT (78.28963 23.54151)
169  IND.20_1      IN   POINT (76.10822 19.44976)
170  IND.21_1      IN   POINT (93.88254 24.73897)
171  IND.22_1      IN   POINT (91.27830 25.53573)
172  IND.23_1      IN   POINT (92.83619 23.30681)
173  IND.24_1      IN   POINT (94.47030 26.06702)
174  IND.25_1      IN   POINT (77.10898 28.64652)
175  IND.26_1      IN   POINT (84.41806 20.50543)
176  IND.27_1      IN   POINT (78.86498 11.88266)
177  IND.28_1      IN   POINT (75.40879 30.84146)
178  IND.29_1      IN   POINT (73.84797 26.58342)
179  IND.30_1      IN   POINT (88.47287 27.57154)
180  IND.31_1      IN   POINT (78.40167 11.00747)
181  IND.32_1      IN   POINT (79.05946 17.79484)
182  IND.33_1      IN   POINT (91.74177 23.74450)
183  IND.34_1      IN   POINT (80.56098 26.92543)
184  IND.35_1      IN   POINT (79.19761 30.15645)
185  IND.36_1      IN   POINT (87.98090 23.81595)

[186 rows x 3 columns]

In [5]:
#The first thing to do is to restrict each of the regn_cd to the first 6 characters
#as the last ones do not matter
Non_OECD["regn_cd"] = Non_OECD["regn_cd"].str[0:6].where(Non_OECD["CNTR_CO"].eq('ZA'),Non_OECD["regn_cd"])
Non_OECD["regn_cd"] = Non_OECD["regn_cd"].str[0:6].where(Non_OECD["CNTR_CO"].eq('RU'),Non_OECD["regn_cd"])
Non_OECD["regn_cd"] = Non_OECD["regn_cd"].str[0:6].where(Non_OECD["CNTR_CO"].eq('IN'),Non_OECD["regn_cd"])
Non_OECD["regn_cd"] = Non_OECD["regn_cd"].str[0:6].where(Non_OECD["CNTR_CO"].eq('CN'),Non_OECD["regn_cd"])
Non_OECD["regn_cd"] = Non_OECD["regn_cd"].str[0:6].where(Non_OECD["CNTR_CO"].eq('BR'),Non_OECD["regn_cd"])

In [6]:
#The next stage is to strip the characters of the _ that some of them contain
Non_OECD["regn_cd"] = Non_OECD["regn_cd"].map(lambda x: x.rstrip('_.'))
#Non_OECD["regn_cd"] = Non_OECD["regn_cd"].str.replace(r'\D', "")

In [7]:
#The results can then be checked
Non_OECD

    regn_cd CNTR_CO                    geometry
0     ZAF.1      ZA  POINT (26.44655 -32.15365)
1     ZAF.2      ZA  POINT (26.86726 -28.61440)
2     ZAF.3      ZA  POINT (28.12578 -26.10615)
3     ZAF.4      ZA  POINT (30.72671 -28.72806)
4     ZAF.5      ZA  POINT (29.28976 -23.78534)
5     ZAF.6      ZA  POINT (30.29896 -25.87362)
6     ZAF.7      ZA  POINT (25.51965 -26.26814)
7     ZAF.8      ZA  POINT (21.40248 -29.45341)
8     ZAF.9      ZA  POINT (20.61534 -33.01441)
9     RUS.1      RU   POINT (39.98716 44.58125)
10    RUS.2      RU   POINT (82.59977 52.60918)
11    RUS.3      RU  POINT (127.71164 53.41848)
12    RUS.4      RU   POINT (48.43770 67.86568)
13    RUS.5      RU   POINT (47.33741 47.11664)
14    RUS.6      RU   POINT (56.52830 54.28201)
15    RUS.7      RU   POINT (37.54531 50.67102)
16    RUS.8      RU   POINT (33.40628 52.91030)
17    RUS.9      RU  POINT (109.50649 53.56601)
18   RUS.10      RU   POINT (45.79918 43.26872)
19   RUS.11      RU   POINT (60.41318 54.47514)
20   RUS.12      RU  POINT (114.87303 66.48628)
21   RUS.13      RU   POINT (47.10248 55.50742)
22   RUS.14      RU   POINT (30.18247 59.90218)
23   RUS.15      RU   POINT (46.87387 43.03557)
24   RUS.16      RU   POINT (87.01470 50.73592)
25   RUS.17      RU   POINT (44.95880 43.17013)
26   RUS.18      RU  POINT (106.29087 57.08428)
27   RUS.19      RU   POINT (41.72664 56.99922)
28   RUS.20      RU   POINT (43.52665 43.43548)
29   RUS.21      RU   POINT (21.45514 54.70630)
..      ...     ...                         ...
156   IND.7      IN   POINT (82.03537 21.26470)
157   IND.8      IN   POINT (73.08090 20.19474)
158   IND.9      IN   POINT (72.27918 20.50551)
159  IND.10      IN   POINT (74.05740 15.35968)
160  IND.11      IN   POINT (71.58843 22.69032)
161  IND.12      IN   POINT (76.33282 29.20004)
162  IND.13      IN   POINT (77.23308 31.92721)
163  IND.14      IN   POINT (76.61264 33.75943)
164  IND.15      IN   POINT (85.55763 23.65454)
165  IND.16      IN   POINT (76.16644 14.70518)
166  IND.17      IN   POINT (76.40575 10.45090)
167  IND.18      IN   POINT (72.93961 10.45127)
168  IND.19      IN   POINT (78.28963 23.54151)
169  IND.20      IN   POINT (76.10822 19.44976)
170  IND.21      IN   POINT (93.88254 24.73897)
171  IND.22      IN   POINT (91.27830 25.53573)
172  IND.23      IN   POINT (92.83619 23.30681)
173  IND.24      IN   POINT (94.47030 26.06702)
174  IND.25      IN   POINT (77.10898 28.64652)
175  IND.26      IN   POINT (84.41806 20.50543)
176  IND.27      IN   POINT (78.86498 11.88266)
177  IND.28      IN   POINT (75.40879 30.84146)
178  IND.29      IN   POINT (73.84797 26.58342)
179  IND.30      IN   POINT (88.47287 27.57154)
180  IND.31      IN   POINT (78.40167 11.00747)
181  IND.32      IN   POINT (79.05946 17.79484)
182  IND.33      IN   POINT (91.74177 23.74450)
183  IND.34      IN   POINT (80.56098 26.92543)
184  IND.35      IN   POINT (79.19761 30.15645)
185  IND.36      IN   POINT (87.98090 23.81595)

[186 rows x 3 columns]

For each country, the regions must be replaced with those matching the OECD REGPAT database
The numbers do not correspond to the TL3 specification from the OECD because the data
originally comes from GADM here.

The matches are found by inputting the addresses into google to match up the OECD REGPAT
region code with that in the GADM datasets.

This is performed for each non-OECD country that in the OECD REGPAT database is covered by the TL3 specification.

These changes can be found below for: 
- China
- India
- South Africa
- Russia
- Brazil

In [8]:
#These regional codes are changed using the replace function
Non_OECD["regn_cd"].replace({"CHN.18":"CN06", "CHN.6":"CN19", "CHN.2":"CN01", "CHN.27":"CN02", "CHN.10": "CN03", 
                             "CHN.19":"CN05", "CHN.17":"CN07", "CHN.11":"CN08","CHN.24":"CN09","CHN.15":"CN10","CHN.31":"CN11",
                             "CHN.1":"CN12","CHN.4":"CN13","CHN.16":"CN14","CHN.23":"CN15","CHN.12":"CN16",
                             "CHN.13":"CN17","CHN.14":"CN18","CHN.7":"CN20","CHN.9":"CN21","CHN.3":"CN22","CHN.26":"CN23",
                            "CHN.8":"CN24","CHN.30":"CN25","CHN.22":"CN27","CHN.5":"CN28","CHN.20":"CN30","CHN.28":"CN31",
                            "CHN.29":"CN26","CHN.21":"CN29"}, inplace = True)

In [9]:
#The results are then checked to make sure they are all correctly specified
Non_OECD[Non_OECD["CNTR_CO"] == "CN"]

    regn_cd CNTR_CO                    geometry
119    CN12      CN  POINT (117.22623 31.82579)
120    CN01      CN  POINT (116.41067 40.18491)
121    CN22      CN  POINT (107.87484 30.05865)
122    CN13      CN  POINT (117.98994 26.08106)
123    CN28      CN  POINT (100.93387 37.82079)
124    CN19      CN  POINT (113.41527 23.33520)
125    CN20      CN  POINT (108.78657 23.82701)
126    CN24      CN  POINT (106.87410 26.81518)
127    CN21      CN  POINT (109.74583 19.19553)
128    CN03      CN  POINT (116.13006 39.54574)
129    CN08      CN  POINT (127.78236 47.84154)
130    CN16      CN  POINT (113.61355 33.88259)
131    CN17      CN  POINT (112.26909 30.97599)
132    CN18      CN  POINT (111.70845 27.60698)
133    CN10      CN  POINT (119.45570 32.97339)
134    CN14      CN  POINT (115.72082 27.61366)
135    CN07      CN  POINT (126.19400 43.66441)
136    CN06      CN  POINT (122.60765 41.29892)
137    CN05      CN  POINT (113.91449 44.08640)
138    CN30      CN  POINT (106.16486 37.27093)
139    CN29      CN   POINT (96.00369 35.74929)
140    CN27      CN  POINT (108.87058 35.19517)
141    CN15      CN  POINT (118.15092 36.35200)
142    CN09      CN  POINT (121.45456 31.19660)
143  CHN.25      CN  POINT (112.29197 37.57590)
144    CN23      CN  POINT (102.70996 30.61575)
145    CN02      CN  POINT (117.33300 39.31040)
146    CN31      CN   POINT (85.20363 41.11196)
147    CN26      CN   POINT (88.13131 31.69004)
148    CN25      CN  POINT (101.48983 24.97572)
149    CN11      CN  POINT (120.08884 29.17951)

In [10]:
Non_OECD[Non_OECD["CNTR_CO"] == "BR"]

    regn_cd CNTR_CO                     geometry
92    BRA.1      BR   POINT (-70.44667 -9.30992)
93    BRA.2      BR   POINT (-36.62320 -9.51555)
94    BRA.3      BR    POINT (-51.96103 1.44004)
95    BRA.4      BR   POINT (-64.71488 -4.18678)
96    BRA.5      BR  POINT (-41.73008 -12.47331)
97    BRA.6      BR   POINT (-39.61790 -5.09146)
98    BRA.7      BR  POINT (-47.79723 -15.78112)
99    BRA.8      BR  POINT (-40.66115 -19.64267)
100   BRA.9      BR  POINT (-49.62332 -16.04443)
101  BRA.10      BR   POINT (-45.28741 -5.06870)
102  BRA.12      BR  POINT (-55.91920 -12.94960)
103  BRA.11      BR  POINT (-54.84547 -20.32590)
104  BRA.13      BR  POINT (-44.65770 -18.45799)
105  BRA.14      BR   POINT (-53.06253 -3.97338)
106  BRA.15      BR   POINT (-36.87255 -7.14257)
107  BRA.16      BR  POINT (-51.62375 -24.63683)
108  BRA.17      BR   POINT (-37.99888 -8.32604)
109  BRA.18      BR   POINT (-42.96912 -7.38448)
110  BRA.19      BR  POINT (-42.66135 -22.19492)
111  BRA.20      BR   POINT (-36.68217 -5.84699)
112  BRA.21      BR  POINT (-53.31684 -29.73784)
113  BRA.22      BR  POINT (-62.85655 -10.89856)
114  BRA.23      BR    POINT (-61.39802 2.08469)
115  BRA.24      BR  POINT (-50.80062 -26.29854)
116  BRA.25      BR  POINT (-48.73276 -22.26541)
117  BRA.26      BR  POINT (-37.44607 -10.59089)
118  BRA.27      BR  POINT (-48.33000 -10.15018)

In [11]:
Non_OECD["regn_cd"].replace({"BRA.14":"BR04", "BRA.4":"BR03","BRA.5":"BR09","BRA.20":"BR15","BRA.13":"BR18","BRA.19":"BR19",
                            "BRA.25":"BR20","BRA.16":"BR21","BRA.21":"BR22","BRA.24":"BR23","BRA.7":"BR24","BRA.9":"BR25",
                            "BRA.2":"BR08","BRA.6":"BR10","BRA.11":"BR11","BRA.12":"BR12","BRA.17":"BR13","BRA.8":"BR17",
                            "BRA.13":"BR26"}, inplace = True)

In [12]:
Non_OECD[Non_OECD["CNTR_CO"] == "ZA"]

  regn_cd CNTR_CO                    geometry
0   ZAF.1      ZA  POINT (26.44655 -32.15365)
1   ZAF.2      ZA  POINT (26.86726 -28.61440)
2   ZAF.3      ZA  POINT (28.12578 -26.10615)
3   ZAF.4      ZA  POINT (30.72671 -28.72806)
4   ZAF.5      ZA  POINT (29.28976 -23.78534)
5   ZAF.6      ZA  POINT (30.29896 -25.87362)
6   ZAF.7      ZA  POINT (25.51965 -26.26814)
7   ZAF.8      ZA  POINT (21.40248 -29.45341)
8   ZAF.9      ZA  POINT (20.61534 -33.01441)

In [13]:
Non_OECD["regn_cd"].replace({"ZAF.1":"ZA01","ZAF.2":"ZA02","ZAF.3":"ZA03","ZAF.4":"ZA04","ZAF.5":"ZA05",
                            "ZAF.6":"ZA06","ZAF.7":"ZA08","ZAF.8":"ZA07","ZAF.9":"ZA09"}, inplace = True)

In [14]:
Non_OECD[Non_OECD["CNTR_CO"] == "RU"]

   regn_cd CNTR_CO                    geometry
9    RUS.1      RU   POINT (39.98716 44.58125)
10   RUS.2      RU   POINT (82.59977 52.60918)
11   RUS.3      RU  POINT (127.71164 53.41848)
12   RUS.4      RU   POINT (48.43770 67.86568)
13   RUS.5      RU   POINT (47.33741 47.11664)
14   RUS.6      RU   POINT (56.52830 54.28201)
15   RUS.7      RU   POINT (37.54531 50.67102)
16   RUS.8      RU   POINT (33.40628 52.91030)
17   RUS.9      RU  POINT (109.50649 53.56601)
18  RUS.10      RU   POINT (45.79918 43.26872)
19  RUS.11      RU   POINT (60.41318 54.47514)
20  RUS.12      RU  POINT (114.87303 66.48628)
21  RUS.13      RU   POINT (47.10248 55.50742)
22  RUS.14      RU   POINT (30.18247 59.90218)
23  RUS.15      RU   POINT (46.87387 43.03557)
24  RUS.16      RU   POINT (87.01470 50.73592)
25  RUS.17      RU   POINT (44.95880 43.17013)
26  RUS.18      RU  POINT (106.29087 57.08428)
27  RUS.19      RU   POINT (41.72664 56.99922)
28  RUS.20      RU   POINT (43.52665 43.43548)
29  RUS.21      RU   POINT (21.45514 54.70630)
30  RUS.22      RU   POINT (45.38381 46.42146)
31  RUS.23      RU   POINT (35.46502 54.35552)
32  RUS.24      RU  POINT (162.94601 58.87110)
33  RUS.25      RU   POINT (41.84571 43.75296)
34  RUS.26      RU   POINT (33.14798 63.54149)
35  RUS.27      RU   POINT (87.20999 54.77541)
36  RUS.28      RU  POINT (137.34637 54.81350)
37  RUS.29      RU   POINT (89.85417 53.36358)
38  RUS.30      RU   POINT (70.34573 61.85309)
..     ...     ...                         ...
62  RUS.54      RU   POINT (44.65981 53.18656)
63  RUS.55      RU   POINT (56.24063 59.15072)
64  RUS.56      RU  POINT (134.76058 45.18249)
65  RUS.57      RU   POINT (29.25882 57.22388)
66  RUS.58      RU   POINT (41.33969 47.73708)
67  RUS.59      RU   POINT (40.65443 54.30686)
68  RUS.60      RU  POINT (130.15507 66.15838)
69  RUS.61      RU  POINT (143.62390 49.94017)
70  RUS.62      RU   POINT (50.47094 53.28817)
71  RUS.63      RU   POINT (46.83063 51.59036)
72  RUS.64      RU   POINT (33.01268 54.92834)
73  RUS.65      RU   POINT (43.40009 44.92780)
74  RUS.66      RU   POINT (61.56167 58.61476)
75  RUS.67      RU   POINT (41.63719 52.65749)
76  RUS.68      RU   POINT (50.93665 55.38093)
77  RUS.69      RU   POINT (82.13438 58.47678)
78  RUS.70      RU   POINT (37.58404 53.87912)
79  RUS.71      RU   POINT (94.79304 51.59142)
80  RUS.72      RU   POINT (34.74855 57.06336)
81  RUS.73      RU   POINT (69.16751 57.66524)
82  RUS.74      RU   POINT (52.81132 57.18972)
83  RUS.75      RU   POINT (47.96307 53.90475)
84  RUS.76      RU   POINT (40.69196 55.99479)
85  RUS.77      RU   POINT (44.18468 49.59961)
86  RUS.78      RU   POINT (40.52342 59.97093)
87  RUS.79      RU   POINT (40.30996 50.95975)
88  RUS.80      RU   POINT (74.55338 67.12686)
89  RUS.81      RU   POINT (39.16790 57.86212)
90  RUS.82      RU  POINT (132.23846 48.52124)
91  RUS.83      RU  POINT (116.19613 52.83932)

[83 rows x 3 columns]

In [15]:
Non_OECD["regn_cd"].replace({"RUS.7":"RU01","RUS.8":"RU02","RUS.76":"RU03","RUS.79":"RU04","RUS.19":"RU05","RUS.23":"RU06",
                            "RUS.33":"RU07","RUS.37":"RU08","RUS.39":"RU09","RUS.44":"RU10","RUS.52":"RU11","RUS.59":"RU12",
                            "RUS.64":"RU13","RUS.67":"RU14","RUS.72":"RU15","RUS.70":"RU16","RUS.81":"RU17","RUS.43":"RU18",
                            "RUS.26":"RU19","RUS.32":"RU20","RUS.4":"RU21","RUS.78":"RU23","RUS.21":"RU24","RUS.38":"RU25",
                            "RUS.45":"RU26","RUS.49":"RU27","RUS.57":"RU28","RUS.14":"RU29","RUS.1":"RU30","RUS.15":"RU31",
                            "RUS.20":"RU33","RUS.22":"RU34","RUS.25":"RU35","RUS.48":"RU36","RUS.10":"RU37","RUS.34":"RU38",
                            "RUS.65":"RU39","RUS.5":"RU40","RUS.77":"RU41","RUS.58":"RU42","RUS.6":"RU43","RUS.41":"RU44",
                            "RUS.42":"RU45","RUS.68":"RU46","RUS.74":"RU47","RUS.13":"RU48","RUS.55":"RU49","RUS.31":"RU50",
                            "RUS.47":"RU51","RUS.53":"RU52","RUS.54":"RU53","RUS.62":"RU54","RUS.63":"RU55","RUS.75":"RU56",
                            "RUS.36":"RU57","RUS.66":"RU58","RUS.73":"RU59","RUS.11":"RU62","RUS.16":"RU63","RUS.9":"RU64",
                            "RUS.71":"RU65","RUS.29":"RU66","RUS.2":"RU67","RUS.35":"RU68","RUS.18":"RU69","RUS.27":"RU70",
                            "RUS.50":"RU71","RUS.51":"RU72","RUS.69":"RU73","RUS.60":"RU75","RUS.56":"RU76","RUS.28":"RU77",
                            "RUS.3":"RU78","RUS.24":"RU79","RUS.40":"RU80","RUS.61":"RU81"}, inplace = True)

In [16]:
#pd.set_option('display.max_rows', None)
Non_OECD[Non_OECD["CNTR_CO"] == "RU"]

   regn_cd CNTR_CO                    geometry
9     RU30      RU   POINT (39.98716 44.58125)
10    RU67      RU   POINT (82.59977 52.60918)
11    RU78      RU  POINT (127.71164 53.41848)
12    RU21      RU   POINT (48.43770 67.86568)
13    RU40      RU   POINT (47.33741 47.11664)
14    RU43      RU   POINT (56.52830 54.28201)
15    RU01      RU   POINT (37.54531 50.67102)
16    RU02      RU   POINT (33.40628 52.91030)
17    RU64      RU  POINT (109.50649 53.56601)
18    RU37      RU   POINT (45.79918 43.26872)
19    RU62      RU   POINT (60.41318 54.47514)
20  RUS.12      RU  POINT (114.87303 66.48628)
21    RU48      RU   POINT (47.10248 55.50742)
22    RU29      RU   POINT (30.18247 59.90218)
23    RU31      RU   POINT (46.87387 43.03557)
24    RU63      RU   POINT (87.01470 50.73592)
25  RUS.17      RU   POINT (44.95880 43.17013)
26    RU69      RU  POINT (106.29087 57.08428)
27    RU05      RU   POINT (41.72664 56.99922)
28    RU33      RU   POINT (43.52665 43.43548)
29    RU24      RU   POINT (21.45514 54.70630)
30    RU34      RU   POINT (45.38381 46.42146)
31    RU06      RU   POINT (35.46502 54.35552)
32    RU79      RU  POINT (162.94601 58.87110)
33    RU35      RU   POINT (41.84571 43.75296)
34    RU19      RU   POINT (33.14798 63.54149)
35    RU70      RU   POINT (87.20999 54.77541)
36    RU77      RU  POINT (137.34637 54.81350)
37    RU66      RU   POINT (89.85417 53.36358)
38  RUS.30      RU   POINT (70.34573 61.85309)
..     ...     ...                         ...
62    RU53      RU   POINT (44.65981 53.18656)
63    RU49      RU   POINT (56.24063 59.15072)
64    RU76      RU  POINT (134.76058 45.18249)
65    RU28      RU   POINT (29.25882 57.22388)
66    RU42      RU   POINT (41.33969 47.73708)
67    RU12      RU   POINT (40.65443 54.30686)
68    RU75      RU  POINT (130.15507 66.15838)
69    RU81      RU  POINT (143.62390 49.94017)
70    RU54      RU   POINT (50.47094 53.28817)
71    RU55      RU   POINT (46.83063 51.59036)
72    RU13      RU   POINT (33.01268 54.92834)
73    RU39      RU   POINT (43.40009 44.92780)
74    RU58      RU   POINT (61.56167 58.61476)
75    RU14      RU   POINT (41.63719 52.65749)
76    RU46      RU   POINT (50.93665 55.38093)
77    RU73      RU   POINT (82.13438 58.47678)
78    RU16      RU   POINT (37.58404 53.87912)
79    RU65      RU   POINT (94.79304 51.59142)
80    RU15      RU   POINT (34.74855 57.06336)
81    RU59      RU   POINT (69.16751 57.66524)
82    RU47      RU   POINT (52.81132 57.18972)
83    RU56      RU   POINT (47.96307 53.90475)
84    RU03      RU   POINT (40.69196 55.99479)
85    RU41      RU   POINT (44.18468 49.59961)
86    RU23      RU   POINT (40.52342 59.97093)
87    RU04      RU   POINT (40.30996 50.95975)
88  RUS.80      RU   POINT (74.55338 67.12686)
89    RU17      RU   POINT (39.16790 57.86212)
90  RUS.82      RU  POINT (132.23846 48.52124)
91  RUS.83      RU  POINT (116.19613 52.83932)

[83 rows x 3 columns]

In [17]:
Non_OECD["regn_cd"].replace({"IND.14":"IN01", "IND.13":"IN02","IND.25":"IN03","IND.29":"IN04","IND.34":"IN05","IND.24":"IN08",
                            "IND.4":"IN10","IND.36":"IN11","IND.11":"IN12","IND.20":"IN14","IND.9":"IN15","IND.17":"IN16",
                            "IND.17":"IN17","IND.28":"IN18","IND.6":"IN19","IND.12":"IN20","IND.35":"IN21","IND.5":"IN22",
                            "IND.15":"IN23","IND.21":"IN24","IND.23":"IN25","IND.33":"IN26","IND.26":"IN27","IND.19":"IN28",
                            "IND.7":"IN29","IND.32":"IN30","IND.16":"IN31","IND.10":"IN32","IND.31":"IN33","IND.27":"IN34",
                            "IND.1":"IN35"}, inplace = True)

In [18]:
Non_OECD[Non_OECD["CNTR_CO"] == "IN"]

    regn_cd CNTR_CO                   geometry
150    IN35      IN  POINT (92.96818 11.22600)
151   IND.2      IN  POINT (79.92714 15.71261)
152   IND.3      IN  POINT (94.67669 28.03901)
153    IN10      IN  POINT (92.82877 26.35676)
154    IN22      IN  POINT (85.60484 25.67966)
155    IN19      IN  POINT (76.76828 30.73384)
156    IN29      IN  POINT (82.03537 21.26470)
157   IND.8      IN  POINT (73.08090 20.19474)
158    IN15      IN  POINT (72.27918 20.50551)
159    IN32      IN  POINT (74.05740 15.35968)
160    IN12      IN  POINT (71.58843 22.69032)
161    IN20      IN  POINT (76.33282 29.20004)
162    IN02      IN  POINT (77.23308 31.92721)
163    IN01      IN  POINT (76.61264 33.75943)
164    IN23      IN  POINT (85.55763 23.65454)
165    IN31      IN  POINT (76.16644 14.70518)
166    IN17      IN  POINT (76.40575 10.45090)
167  IND.18      IN  POINT (72.93961 10.45127)
168    IN28      IN  POINT (78.28963 23.54151)
169    IN14      IN  POINT (76.10822 19.44976)
170    IN24      IN  POINT (93.88254 24.73897)
171  IND.22      IN  POINT (91.27830 25.53573)
172    IN25      IN  POINT (92.83619 23.30681)
173    IN08      IN  POINT (94.47030 26.06702)
174    IN03      IN  POINT (77.10898 28.64652)
175    IN27      IN  POINT (84.41806 20.50543)
176    IN34      IN  POINT (78.86498 11.88266)
177    IN18      IN  POINT (75.40879 30.84146)
178    IN04      IN  POINT (73.84797 26.58342)
179  IND.30      IN  POINT (88.47287 27.57154)
180    IN33      IN  POINT (78.40167 11.00747)
181    IN30      IN  POINT (79.05946 17.79484)
182    IN26      IN  POINT (91.74177 23.74450)
183    IN05      IN  POINT (80.56098 26.92543)
184    IN21      IN  POINT (79.19761 30.15645)
185    IN11      IN  POINT (87.98090 23.81595)

In [21]:
#The final dataframe can then be checked
Non_OECD

    regn_cd CNTR_CO                    geometry
0      ZA01      ZA  POINT (26.44655 -32.15365)
1      ZA02      ZA  POINT (26.86726 -28.61440)
2      ZA03      ZA  POINT (28.12578 -26.10615)
3      ZA04      ZA  POINT (30.72671 -28.72806)
4      ZA05      ZA  POINT (29.28976 -23.78534)
5      ZA06      ZA  POINT (30.29896 -25.87362)
6      ZA08      ZA  POINT (25.51965 -26.26814)
7      ZA07      ZA  POINT (21.40248 -29.45341)
8      ZA09      ZA  POINT (20.61534 -33.01441)
9      RU30      RU   POINT (39.98716 44.58125)
10     RU67      RU   POINT (82.59977 52.60918)
11     RU78      RU  POINT (127.71164 53.41848)
12     RU21      RU   POINT (48.43770 67.86568)
13     RU40      RU   POINT (47.33741 47.11664)
14     RU43      RU   POINT (56.52830 54.28201)
15     RU01      RU   POINT (37.54531 50.67102)
16     RU02      RU   POINT (33.40628 52.91030)
17     RU64      RU  POINT (109.50649 53.56601)
18     RU37      RU   POINT (45.79918 43.26872)
19     RU62      RU   POINT (60.41318 54.47514)
20   RUS.12      RU  POINT (114.87303 66.48628)
21     RU48      RU   POINT (47.10248 55.50742)
22     RU29      RU   POINT (30.18247 59.90218)
23     RU31      RU   POINT (46.87387 43.03557)
24     RU63      RU   POINT (87.01470 50.73592)
25   RUS.17      RU   POINT (44.95880 43.17013)
26     RU69      RU  POINT (106.29087 57.08428)
27     RU05      RU   POINT (41.72664 56.99922)
28     RU33      RU   POINT (43.52665 43.43548)
29     RU24      RU   POINT (21.45514 54.70630)
..      ...     ...                         ...
156    IN29      IN   POINT (82.03537 21.26470)
157   IND.8      IN   POINT (73.08090 20.19474)
158    IN15      IN   POINT (72.27918 20.50551)
159    IN32      IN   POINT (74.05740 15.35968)
160    IN12      IN   POINT (71.58843 22.69032)
161    IN20      IN   POINT (76.33282 29.20004)
162    IN02      IN   POINT (77.23308 31.92721)
163    IN01      IN   POINT (76.61264 33.75943)
164    IN23      IN   POINT (85.55763 23.65454)
165    IN31      IN   POINT (76.16644 14.70518)
166    IN17      IN   POINT (76.40575 10.45090)
167  IND.18      IN   POINT (72.93961 10.45127)
168    IN28      IN   POINT (78.28963 23.54151)
169    IN14      IN   POINT (76.10822 19.44976)
170    IN24      IN   POINT (93.88254 24.73897)
171  IND.22      IN   POINT (91.27830 25.53573)
172    IN25      IN   POINT (92.83619 23.30681)
173    IN08      IN   POINT (94.47030 26.06702)
174    IN03      IN   POINT (77.10898 28.64652)
175    IN27      IN   POINT (84.41806 20.50543)
176    IN34      IN   POINT (78.86498 11.88266)
177    IN18      IN   POINT (75.40879 30.84146)
178    IN04      IN   POINT (73.84797 26.58342)
179  IND.30      IN   POINT (88.47287 27.57154)
180    IN33      IN   POINT (78.40167 11.00747)
181    IN30      IN   POINT (79.05946 17.79484)
182    IN26      IN   POINT (91.74177 23.74450)
183    IN05      IN   POINT (80.56098 26.92543)
184    IN21      IN   POINT (79.19761 30.15645)
185    IN11      IN   POINT (87.98090 23.81595)

[186 rows x 3 columns]

We are also interested in regions that have been assigned based on a country level classification, rather than a regional classification. These are countries that are not covered by the regional level results in the OECD REGAPT database.

In [22]:
#The world shapefile is read in, which comes from the same R file as the regional ones
World = gpd.read_file("shapefiles/world_centroids.shp")

In [23]:
#This does not have region and so, according to the OECD REGPAT specification
#zzz can be attached to the 2 digit county code to create the regional code
World["regn_cd"] = World["Code"] + "ZZZ"

In [24]:
#The list of countries can then be checked
countries = list(World["Code"])
countries

['AW',
 'AG',
 'AF',
 'DZ',
 'AZ',
 'AL',
 'AM',
 'AD',
 'AO',
 'AS',
 'AR',
 'AU',
 'AT',
 'AI',
 'AQ',
 'BH',
 'BB',
 'BW',
 'BM',
 'BE',
 'BS',
 'BD',
 'BZ',
 'BA',
 'BO',
 None,
 'BJ',
 'BY',
 'SB',
 'BR',
 'BT',
 'BG',
 'BV',
 'BN',
 'BI',
 'CA',
 'KH',
 'TD',
 'LK',
 'CG',
 None,
 'CN',
 'CL',
 'KY',
 'CC',
 'CM',
 'KM',
 'CO',
 'MP',
 'CR',
 'CF',
 'CU',
 'CV',
 'CK',
 'CY',
 'DK',
 'DJ',
 'DM',
 None,
 'DO',
 'EC',
 'EG',
 'IE',
 'GQ',
 'EE',
 'ER',
 'SV',
 'ET',
 'CZ',
 'GF',
 'FI',
 'FJ',
 None,
 None,
 'FO',
 'PF',
 None,
 'FR',
 None,
 None,
 'GA',
 'GE',
 'GH',
 'GI',
 'GD',
 'GG',
 'GL',
 'DE',
 None,
 'GP',
 'GU',
 'GR',
 'GT',
 'GN',
 'GY',
 None,
 'HT',
 None,
 'HN',
 None,
 'HR',
 'HU',
 'IS',
 'ID',
 None,
 'IN',
 'IO',
 'IR',
 'IL',
 'IT',
 None,
 'IQ',
 'JP',
 'JE',
 'JM',
 None,
 'JO',
 None,
 None,
 'KE',
 'KG',
 'KP',
 'KI',
 'KR',
 'CX',
 'KW',
 'KZ',
 None,
 'LB',
 'LV',
 'LT',
 'LR',
 'SK',
 'LI',
 'LS',
 'LU',
 'LY',
 'MG',
 'MQ',
 None,
 'MD',
 'YT',
 'MN',
 'MS',
 'MW',
 'MK',
 'ML',
 'MC',
 'MA',
 'MU',
 None,
 'MR',
 'MT',
 'OM',
 'MV',
 'ME',
 'MX',
 'MY',
 'MZ',
 'NC',
 'NU',
 'NF',
 'NE',
 'VU',
 'NG',
 'NL',
 'NO',
 'NP',
 'NR',
 'SR',
 None,
 'NI',
 'NZ',
 'PY',
 None,
 'PE',
 None,
 None,
 'PK',
 'PL',
 'PA',
 'PT',
 'PG',
 None,
 'GW',
 'QA',
 'RE',
 'MH',
 'RO',
 'PH',
 'PR',
 'RU',
 'RW',
 'SA',
 None,
 'KN',
 'SC',
 'ZA',
 'SN',
 None,
 'SI',
 'SL',
 'SM',
 'SG',
 'SO',
 'ES',
 'RS',
 None,
 'SD',
 'SJ',
 'SE',
 None,
 'SY',
 'CH',
 'AE',
 'TT',
 'TH',
 'TJ',
 'TC',
 'TK',
 'TO',
 'TG',
 'ST',
 'TN',
 'TR',
 'TV',
 'TW',
 'TM',
 'TZ',
 'UG',
 'GB',
 'UA',
 'US',
 'BF',
 'UY',
 'UZ',
 None,
 'VE',
 'VG',
 'VN',
 None,
 None,
 None,
 'WF',
 'EH',
 None,
 None,
 'SZ',
 'YE',
 'ZM',
 'ZW']

In [25]:
#The Code column is then renamed to make sure it is inline with others
World.rename(columns = {"Code":"CNTR_CO"}, inplace = True)

The next thing to do is merge them all together into a single dataframe.

In [26]:
dataframes = [World, Non_OECD, centroids2, HK, Monaco, IOM]
#This is done using concat, so they are stacked ontop of one another
full = pd.concat(dataframes)

C:\Users\cex\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [27]:
#Some specification of region are different and so these are changed
#These regions were found out using repeated runs through of the Binomial_test.ippynb to 
#identify missing regions
full["regn_cd"].replace({"TWZZZ":"TW000", "ILZZZ":"ILZZ", "SJZZZ":"SJ000", 
                         "MKZZZ":"MK000"}, inplace = True)

In [28]:
#The resulting output can then be visualised
full

     CNTR_CO                      geometry regn_cd
0         AW    POINT (-69.97564 12.51563)   AWZZZ
1         AG    POINT (-61.79124 17.27982)   AGZZZ
2         AF     POINT (66.02647 33.83881)   AFZZZ
3         DZ      POINT (2.63239 28.16324)   DZZZZ
4         AZ     POINT (47.53269 40.29212)   AZZZZ
5         AL     POINT (20.06838 41.14228)   ALZZZ
6         AM     POINT (44.94739 40.28620)   AMZZZ
7         AD      POINT (1.57677 42.54865)   ADZZZ
8         AO    POINT (17.54472 -12.29532)   AOZZZ
9         AS  POINT (-170.70783 -14.30441)   ASZZZ
10        AR   POINT (-65.16768 -35.37618)   ARZZZ
11        AU   POINT (134.48956 -25.73497)   AUZZZ
12        AT     POINT (14.14019 47.59290)   ATZZZ
13        AI    POINT (-63.06008 18.22287)   AIZZZ
14        AQ    POINT (21.30339 -80.44593)   AQZZZ
15        BH     POINT (50.55964 26.02241)   BHZZZ
16        BB    POINT (-59.56195 13.17871)   BBZZZ
17        BW    POINT (23.81503 -22.18200)   BWZZZ
18        BM    POINT (-64.73701 32.31792)   BMZZZ
19        BE      POINT (4.66399 50.64285)   BEZZZ
20        BS    POINT (-76.54662 24.20113)   BSZZZ
21        BD     POINT (90.26850 23.84323)   BDZZZ
22        BZ    POINT (-88.68601 17.21685)   BZZZZ
23        BA     POINT (17.78653 44.16812)   BAZZZ
24        BO   POINT (-64.67060 -16.71497)   BOZZZ
25      None     POINT (96.50692 21.15432)     NaN
26        BJ       POINT (2.34313 9.64732)   BJZZZ
27        BY     POINT (28.04679 53.54000)   BYZZZ
28        SB    POINT (159.63432 -8.91822)   SBZZZ
29        BR   POINT (-53.09009 -10.77302)   BRZZZ
...      ...                           ...     ...
5342      US    POINT (-86.10543 38.59978)   18175
5343      US    POINT (-85.62930 36.99062)   21169
5344      US    POINT (-96.94614 45.62977)   46109
5345      US   POINT (-104.56156 47.78793)   30083
5346      US   POINT (-102.82852 33.60426)   48079
5347      US   POINT (-106.80940 34.71548)   35061
5348      US    POINT (-84.49072 41.32399)   39039
5349      US    POINT (-81.71071 38.02236)   54005
5350      US    POINT (-89.48848 30.41595)   28045
5351      US    POINT (-82.42535 28.55405)   12053
5352      US   POINT (-158.21250 59.79999)   02070
5353      US    POINT (-82.08143 28.70573)   12119
5354      US    POINT (-93.17697 34.05120)   05019
5355      US    POINT (-87.30788 31.98928)   01131
5356      US    POINT (-86.14874 32.59720)   01051
5357      US    POINT (-77.61730 40.61055)   42087
5358      US    POINT (-89.77076 43.96948)   55001
5359      US    POINT (-85.60386 34.17587)   01019
5360      US    POINT (-87.97830 41.44485)   17197
5361      US    POINT (-92.32182 29.84401)   22113
5362      US    POINT (-82.30799 35.89862)   37199
5363      US    POINT (-89.50315 34.76236)   28093
5364      US    POINT (-84.46501 34.46422)   13227
5365      US   POINT (-119.90532 37.58143)   06043
5366      US    POINT (-84.55004 32.04615)   13307
5367      US   POINT (-118.73668 45.59148)   41059
5368      US    POINT (-77.08447 38.81826)   51510
0         HK    POINT (114.13496 22.38112)   HK000
0         MC      POINT (7.42327 43.73568)   MCZZZ
0         GB     POINT (-4.53916 54.22758)   IM000

[5809 rows x 3 columns]

This result was then outputted to a shapefile and used in the Binomial_test.ipynb file when merging with location. However, some regions appeared to not match or were duplicated and so further regions had to be changed to match, or duplicates were created.

This is the case for several regions as can be seen below.

In [29]:
#We first need to find the row where there is a duplication
#In this case CN19 also means CN191 so we need to identify the row where CN19 is
CN_row = full[full["regn_cd"] == "CN19"]
#This is the row
CN_row

#We can then append a duplicate of this to the end, but change the regional code from
#CN19 to CN191
full = full.append(full.loc[[137]*1].assign(regn_cd="CN191"), ignore_index=True)

In [30]:
#In the case of iceland, there was no NUTS3 classification that could be found
#to cover the regions
#So we extract the country centroid
IS_row = full[full["regn_cd"] == "ISZZZ"]
IS_row

#We then append duplicate rows onto the end, each with the region code from iceland
#So each region is essentially assigned to the country centroid
full = full.append(full.loc[[102]*1].assign(regn_cd="IS011"), ignore_index=True)
full = full.append(full.loc[[102]*1].assign(regn_cd="IS021"), ignore_index=True)
full = full.append(full.loc[[102]*1].assign(regn_cd="IS022"), ignore_index=True)

In [31]:
#In the case of monaco, it is classed under different regions
#Some are attached to france, others have different codes
MC_row = full[full["regn_cd"] == "MCZZZ"]
MC_row

full = full.append(full.loc[[147]*1].assign(regn_cd="PF000"), ignore_index=True)
full = full.append(full.loc[[147]*1].assign(regn_cd="NC000"), ignore_index=True)
full = full.append(full.loc[[147]*1].assign(regn_cd="MC000"), ignore_index=True)

In [32]:
#RUZZZ can also be classed as SUZZZ (due to the changing years)
RU_row = full[full["regn_cd"] == "RUZZZ"]
RU_row

full = full.append(full.loc[[191]*1].assign(regn_cd="SUZZZ"), ignore_index=True)
#full = full.append(full.loc[[147]*1].assign(regn_cd="NC000"), ignore_index=True)

In [33]:
#DEZZZ can also be known as DDZZZ
DD_row = full[full["regn_cd"] == "DEZZZ"]
DD_row

full = full.append(full.loc[[87]*1].assign(regn_cd="DDZZZ"), ignore_index=True)

In [34]:
#IN17 also covers IN16
IN_row = full[full["regn_cd"] == "IN17"]
IN_row

full = full.append(full.loc[[417]*1].assign(regn_cd="IN16"), ignore_index=True)

In [35]:
#TW000 can also be found under CN04 classifications
CN_row = full[full["regn_cd"] == "TW000"]
CN_row

full = full.append(full.loc[[226]*1].assign(regn_cd="CN04"), ignore_index = True)

In [36]:
#RU_row = full[full["regn_cd"] == "GB"]

In [37]:
#duplicated rows that are not needed can be dropped
full = full.drop([5809, 5811])

In [38]:
#The final outcome cna then be visualised
full

     CNTR_CO                      geometry regn_cd
0         AW    POINT (-69.97564 12.51563)   AWZZZ
1         AG    POINT (-61.79124 17.27982)   AGZZZ
2         AF     POINT (66.02647 33.83881)   AFZZZ
3         DZ      POINT (2.63239 28.16324)   DZZZZ
4         AZ     POINT (47.53269 40.29212)   AZZZZ
5         AL     POINT (20.06838 41.14228)   ALZZZ
6         AM     POINT (44.94739 40.28620)   AMZZZ
7         AD      POINT (1.57677 42.54865)   ADZZZ
8         AO    POINT (17.54472 -12.29532)   AOZZZ
9         AS  POINT (-170.70783 -14.30441)   ASZZZ
10        AR   POINT (-65.16768 -35.37618)   ARZZZ
11        AU   POINT (134.48956 -25.73497)   AUZZZ
12        AT     POINT (14.14019 47.59290)   ATZZZ
13        AI    POINT (-63.06008 18.22287)   AIZZZ
14        AQ    POINT (21.30339 -80.44593)   AQZZZ
15        BH     POINT (50.55964 26.02241)   BHZZZ
16        BB    POINT (-59.56195 13.17871)   BBZZZ
17        BW    POINT (23.81503 -22.18200)   BWZZZ
18        BM    POINT (-64.73701 32.31792)   BMZZZ
19        BE      POINT (4.66399 50.64285)   BEZZZ
20        BS    POINT (-76.54662 24.20113)   BSZZZ
21        BD     POINT (90.26850 23.84323)   BDZZZ
22        BZ    POINT (-88.68601 17.21685)   BZZZZ
23        BA     POINT (17.78653 44.16812)   BAZZZ
24        BO   POINT (-64.67060 -16.71497)   BOZZZ
25      None     POINT (96.50692 21.15432)     NaN
26        BJ       POINT (2.34313 9.64732)   BJZZZ
27        BY     POINT (28.04679 53.54000)   BYZZZ
28        SB    POINT (159.63432 -8.91822)   SBZZZ
29        BR   POINT (-53.09009 -10.77302)   BRZZZ
...      ...                           ...     ...
5790      US    POINT (-82.08143 28.70573)   12119
5791      US    POINT (-93.17697 34.05120)   05019
5792      US    POINT (-87.30788 31.98928)   01131
5793      US    POINT (-86.14874 32.59720)   01051
5794      US    POINT (-77.61730 40.61055)   42087
5795      US    POINT (-89.77076 43.96948)   55001
5796      US    POINT (-85.60386 34.17587)   01019
5797      US    POINT (-87.97830 41.44485)   17197
5798      US    POINT (-92.32182 29.84401)   22113
5799      US    POINT (-82.30799 35.89862)   37199
5800      US    POINT (-89.50315 34.76236)   28093
5801      US    POINT (-84.46501 34.46422)   13227
5802      US   POINT (-119.90532 37.58143)   06043
5803      US    POINT (-84.55004 32.04615)   13307
5804      US   POINT (-118.73668 45.59148)   41059
5805      US    POINT (-77.08447 38.81826)   51510
5806      HK    POINT (114.13496 22.38112)   HK000
5807      MC      POINT (7.42327 43.73568)   MCZZZ
5808      GB     POINT (-4.53916 54.22758)   IM000
5810      CN    POINT (113.91449 44.08640)   CN191
5812      IS    POINT (-18.60547 64.99759)   IS011
5813      IS    POINT (-18.60547 64.99759)   IS021
5814      IS    POINT (-18.60547 64.99759)   IS022
5815      MC      POINT (7.41282 43.74798)   PF000
5816      MC      POINT (7.41282 43.74798)   NC000
5817      MC      POINT (7.41282 43.74798)   MC000
5818      RU     POINT (96.69193 61.98838)   SUZZZ
5819      DE     POINT (10.39365 51.10656)   DDZZZ
5820      IN     POINT (76.40575 10.45090)    IN16
5821      TW    POINT (120.95080 23.75401)    CN04

[5820 rows x 3 columns]

The final outcome can then be outputeed to a shapefile to be used in regional merging to identify location and distance.

In [39]:
full.to_file("shapefiles/regions.shp")